@import "./Variables.scss";

.danger-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding: 15px;
  background-color: $main-color;
  border-radius: 10px;
  border: solid 5px #ff2147;

  p {
    color: #ff2147;
    font-size: 28px;
  }

  div {
    @include flex-row-center;
    gap: 10px;
  }

  img {
    width: 50px;
  }
}

@media (max-width: 500px) {
  .danger-message {
    p {
      font-size: 25px;
    }

    img {
      width: 30px;
    }
  }
}
