@import "./Variables.scss";

input,
select,
textarea {
  @include input;
  font-family: $main-font;
}

.form-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  @include flex-column-center;
  width: 50%;
  max-width: 500px;
  display: grid;
  grid-template-columns: 0.6fr 2fr;
  margin-bottom: 50px;
  color: $main-text-color;

  label {
    text-align: right;
    font-size: 20px;
  }

  input,
  select {
    text-align: center;
    padding: 5px;
  }

  button {
    grid-area: 9 / 2 / 10 / 3;
    justify-self: center;
  }
}

.success-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding: 15px;
  background-color: $main-color;
  border-radius: 10px;
  border: solid 5px #3eb655;

  p {
    color: #3eb655;
    font-size: 28px;
  }

  div {
    @include flex-row-center;
    gap: 10px;
  }

  img {
    width: 50px;
  }
}

@media (max-width: 500px) {
  .success-message {
    p {
      font-size: 25px;
    }

    img {
      width: 30px;
    }
  }
}
